<!doctype html>
<html lang="en">
  <head>
    <title>Colorlib Medi+</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Fonts/flaticon/font/flaticon.css">


    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/style.css">
  </head>
  <body>

      <header role="banner">
          <div class="top-bar">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 col-sm-6 col-5">
                          <ul class="social list-unstyled">
                              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                          </ul>
                      </div>
                      <div class="col-md-6 col-sm-6 col-7 text-right">
                          <p class="mb-0">
                              <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment">Make an Appointment</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container">
                  <a class="navbar-brand" href="index.html">Medi<span>+</span>  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarsExample05">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                              <a class="nav-link active" href="index.html">Главная</a>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сервисы</a>
                              <div class="dropdown-menu" aria-labelledby="dropdown04">
                                  <a class="dropdown-item" href="#">Institute</a>
                                  <a class="dropdown-item" href="#">Departments</a>
                                  <a class="dropdown-item" href="services.html">Services</a>
                              </div>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="doctors.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Доктора</a>
                              <div class="dropdown-menu" aria-labelledby="dropdown05">
                                  <a class="dropdown-item" href="doctors.html">Find Doctors</a>
                                  <a class="dropdown-item" href="#">Practitioner</a>
                              </div>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="news.html">Новости</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="about.html">О нас</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="contact.html">Контакты</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
      </header>
      <!-- END header -->

      
      <!-- END slider -->

     
      <!-- END section -->
      <section class="section stretch-section">
          <div class="container">
              <div class="row justify-content-center mb-5 element-animate">
                  <div class="col-md-8 text-center mb-5">
                      <h2 class="text-uppercase heading border-bottom mb-4">Почему выбирают нас</h2>
                      <p class="mb-0 lead">Более 11 лет успешной работы позволяет оперативно и качественно лечить Ваши зубы.</p>
                  </div>
              </div>
              <div class="row align-items-center">

                  <div class="col-md-6 stretch-left-1 element-animate" data-animate-effect="fadeInLeft">
                      <a href="#" class="video"><img src="~/Images/img_1.jpg" alt="" class="img-fluid"></a>
                  </div>
                  <div class="col-md-6 stretch-left-1-offset pl-md-5 pl-0 element-animate" data-animate-effect="fadeInLeft">
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                              <div class="media d-block media-feature text-center">
                                  <span class="icon flaticon-hospital"></span>
                                  <div class="media-body">
                                      <h3 class="mt-0 text-black">Amenities</h3>
                                      <p>Лечение кариеса.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                              <div class="media d-block media-feature text-center">
                                  <span class="icon flaticon-first-aid-kit"></span>
                                  <div class="media-body">
                                      <h3 class="mt-0 text-black">Medical Services</h3>
                                      <p>Лечеие десен.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                              <div class="media d-block media-feature text-center">
                                  <span class="icon flaticon-hospital-bed"></span>
                                  <div class="media-body">
                                      <h3 class="mt-0 text-black">Patient Services</h3>
                                      <p>Имплантация.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                              <div class="media d-block media-feature text-center">
                                  <span class="icon flaticon-doctor"></span>
                                  <div class="media-body">
                                      <h3 class="mt-0 text-black">Expert Doctors</h3>
                                      <p>Протезирование.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- END section -->
      
      <!-- END section -->
      <section class="section bg-light">
          <div class="container">
              <div class="row justify-content-center mb-5 element-animate">
                  <div class="col-md-8 text-center mb-5">
                      <h2 class="text-uppercase heading border-bottom mb-4">Наши доктора</h2>
                      <p class="mb-0 lead">Профессионалы своего дела</p>
                  </div>
              </div>
              <div class="row element-animate">
                  <div class="major-caousel js-carousel-1 owl-carousel">
                      <div>
                          <div class="media d-block media-custom text-center">
                              <img src="~/Images/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <h3 class="mt-0 text-black">Валькова Ирина Борисовна</h3>
                                  <p>Стоматолог – терапевт - парадонтолог.</p>
                                  <p>
                                      <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-center">
                              <img src="~/Images/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <h3 class="mt-0 text-black">Валькова Ирина Борисовна</h3>
                                  <p>Стоматолог – терапевт - парадонтолог.</p>
                                  <p>
                                      <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-center">
                              <img src="~/Images/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <h3 class="mt-0 text-black">Валькова Ирина Борисовна</h3>
                                  <p>Стоматолог – терапевт - парадонтолог.</p>
                                  <p>
                                      <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-center">
                              <img src="~/Images/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <h3 class="mt-0 text-black">Валькова Ирина Борисовна</h3>
                                  <p>Стоматолог – терапевт - парадонтолог.</p>
                                  <p>
                                      <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-center">
                              <img src="~/Images/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <h3 class="mt-0 text-black">Валькова Ирина Борисовна</h3>
                                  <p>Стоматолог – терапевт - парадонтолог.</p>
                                  <p>
                                      <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-center">
                              <img src="~/Images/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <h3 class="mt-0 text-black">Валькова Ирина Борисовна</h3>
                                  <p>Стоматолог – терапевт - парадонтолог.</p>
                                  <p>
                                      <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-center">
                              <img src="~/Images/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <h3 class="mt-0 text-black">Валькова Ирина Борисовна</h3>
                                  <p>Стоматолог – терапевт - парадонтолог.</p>
                                  <p>
                                      <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-center">
                              <img src="~/Images/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <h3 class="mt-0 text-black">Валькова Ирина Борисовна</h3>
                                  <p>Стоматолог – терапевт - парадонтолог.</p>
                                  <p>
                                      <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                      <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- END slider -->
              </div>
          </div>
      </section>
      <!-- END section -->
      
      <!-- END section -->
      <section class="section bg-light">
          <div class="container">
              <div class="row justify-content-center mb-5 element-animate">
                  <div class="col-md-8 text-center mb-5">
                      <h2 class="text-uppercase heading border-bottom mb-4">Новости и события</h2>
                      <p class="mb-0 lead">Самые последние новости</p>
                  </div>
              </div>
              <div class="row element-animate">
                  <div class="major-caousel js-carousel-2 owl-carousel">
                      <div>
                          <div class="media d-block media-custom text-left">
                              <img src="~/Images/img_thumb_1.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <span class="meta-post">December 2, 2017</span>
                                  <h3 class="mt-0 text-black"><a href="#" class="text-black">Важная новость</a></h3>
                                  <p>Изобретено новое лекарство</p>
                                  <p class="clearfix">
                                      <a href="#" class="float-left">Read more</a>
                                      <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-left">
                              <img src="~/Images/img_thumb_2.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <span class="meta-post">December 2, 2017</span>
                                  <h3 class="mt-0 text-black"><a href="#" class="text-black">Важная новость</a></h3>
                                  <p>Изобретено новое лекарство.</p>
                                  <p class="clearfix">
                                      <a href="#" class="float-left">Read more</a>
                                      <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 2</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-left">
                              <img src="~/Images/img_thumb_3.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <span class="meta-post">December 2, 2017</span>
                                  <h3 class="mt-0 text-black"><a href="#" class="text-black">Важная новость</a></h3>
                                  <p>Изобретено новое лекарство.</p>
                                  <p class="clearfix">
                                      <a href="#" class="float-left">Read more</a>
                                      <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 5</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-left">
                              <img src="~/Images/img_thumb_4.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <span class="meta-post">December 2, 2017</span>
                                  <h3 class="mt-0 text-black"><a href="#" class="text-black">Важная новость</a></h3>
                                  <p>Изобретено новое лекарство.</p>
                                  <p class="clearfix">
                                      <a href="#" class="float-left">Read more</a>
                                      <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 7</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-left">
                              <img src="~/Images/img_thumb_1.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <span class="meta-post">December 2, 2017</span>
                                  <h3 class="mt-0 text-black"><a href="#" class="text-black">Важная новость</a></h3>
                                  <p>Изобретено новое лекарство.</p>
                                  <p class="clearfix">
                                      <a href="#" class="float-left">Read more</a>
                                      <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 1</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-left">
                              <img src="~/Images/img_thumb_2.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <span class="meta-post">December 2, 2017</span>
                                  <h3 class="mt-0 text-black"><a href="#" class="text-black">Важная новость</a></h3>
                                  <p>Изобретено новое лекарство.</p>
                                  <p class="clearfix">
                                      <a href="#" class="float-left">Read more</a>
                                      <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 4</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-left">
                              <img src="~/Images/img_thumb_3.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <span class="meta-post">December 2, 2017</span>
                                  <h3 class="mt-0 text-black"><a href="#" class="text-black">Важная новость</a></h3>
                                  <p>Изобретено новое лекарство.</p>
                                  <p class="clearfix">
                                      <a href="#" class="float-left">Read more</a>
                                      <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 12</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="media d-block media-custom text-left">
                              <img src="~/Images/img_thumb_4.jpg" alt="Image Placeholder" class="img-fluid">
                              <div class="media-body">
                                  <span class="meta-post">December 2, 2017</span>
                                  <h3 class="mt-0 text-black"><a href="#" class="text-black">Важная новость</a></h3>
                                  <p>Изобретено новое лекарство.</p>
                                  <p class="clearfix">
                                      <a href="#" class="float-left">Read more</a>
                                      <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 14</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- END slider -->
              </div>
          </div>
      </section>
      <!-- END section -->
      

      <div class="subscribe-banner">
          <div class="container">
              <div class="row">
                  <div class="col-12 col-lg-8 offset-lg-2">
                      <h2>Подпишись на новости ленты</h2>

                      <form method="post" action="/Main/SendData">
                          <input type="email" placeholder="E-mail address" name="mail">
                          <input class="button gradient-bg" type="submit" value="Подпишись">
                      </form>
                  </div>
              </div>
          </div>
      </div>
      

      <footer class="site-footer" role="contentinfo">
          <div class="container">
              <div class="row mb-5 element-animate">
                  <div class="col-md-3 mb-5">
                      <h3>Сервисы</h3>
                      <ul class="footer-link list-unstyled">
                          <li><a href="#">Найти доктора</a></li>
                          <li><a href="#">Забота</a></li>
                          <li><a href="#">Срочный уход</a></li>
                          <li><a href="#">Процедуры</a></li>
                          <li><a href="#">Онлайн сервисы</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 mb-5">
                      <h3>Последние новости</h3>
                      <ul class="footer-link list-unstyled">
                          <li><a href="#">Пресса</a></li>
                          <li><a href="#">Профессиональные новости</a></li>
                          <li><a href="#">Конференции</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 mb-5">
                      <h3>О нас</h3>
                      <ul class="footer-link list-unstyled">
                          <li><a href="#">О клинике</a></li>
                          <li><a href="#">Награды</a></li>
                          <li><a href="#">Награды</a></li>
                          <li><a href="#">Карьеры</a></li>
                          <li><a href="#">Обратная связь</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 mb-5">
                      <h3>Локация и контакты</h3>
                      <p class="mb-5">134 Street Name, City Name Here, United States</p>
                      <h4 class="text-uppercase mb-3 h6 text-white">
                          Email</h5>
                          <p class="mb-5"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></p>

                          <h4 class="text-uppercase mb-3 h6 text-white">
                              Phone</h5>
                              <p>+1 24 435 3533</p>
                  </div>
              </div>
              <div class="row pt-md-3 element-animate">
                  <div class="col-md-12">
                      <hr class="border-t">
                  </div>
                  <div class="col-md-6 col-sm-12 copyright">
                      <p>&copy; 2018 Colorlib Medi+. Designed &amp; Developed by <a href="https://colorlib.com/">Colorlib</a></p>
                  </div>
                  <div class="col-md-6 col-sm-12 text-md-right text-sm-left">
                      <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                      <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                  </div>
              </div>
          </div>
      </footer>
      <!-- END footer -->
      <!-- Modal -->
      <div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalAppointmentLabel">Appointment</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form action="#">
                          <div class="form-group">
                              <label for="appointment_name" class="text-black">Full Name</label>
                              <input type="text" class="form-control" id="appointment_name">
                          </div>
                          <div class="form-group">
                              <label for="appointment_email" class="text-black">Email</label>
                              <input type="text" class="form-control" id="appointment_email">
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="appointment_date" class="text-black">Date</label>
                                      <input type="text" class="form-control" id="appointment_date">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="appointment_time" class="text-black">Time</label>
                                      <input type="text" class="form-control" id="appointment_time">
                                  </div>
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="appointment_message" class="text-black">Message</label>
                              <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"></textarea>
                          </div>
                          <div class="form-group">
                              <input type="submit" value="Send Message" class="btn btn-primary">
                          </div>
                      </form>
                  </div>

              </div>
          </div>
      </div>
      <script src="~/Scripts/jquery-3.2.1.min.js"></script>
      <script src="~/Scripts/popper.min.js"></script>
      <script src="~/Scripts/bootstrap.min.js"></script>
      <script src="~/Scripts/owl.carousel.min.js"></script>
      <script src="~/Scripts/bootstrap-datepicker.js"></script>
      <script src="~/Scripts/jquery.timepicker.min.js"></script>
      <script src="~/Scripts/jquery.waypoints.min.js"></script>
      <script src="~/Scripts/main.js"></script>
  </body>
</html>